*{
  margin: 0;
  padding: 0;
  box-sizing: 0;

}
body{
  background-image: url(../assets/images/background.svg);
}
.right-movil{
  text-align: right;
}
.col{
  width: 100%;
/*  border: 1px solid #b2c8ad;*/

}
.btn-left{
  font-size: 20%;
  display: inline-block;

}
.btn-movil{
  display: inline-block;
}
.right-desktop{
  display: none;

}
.search{
  display: none;
}
.div-right {
  border: 1px solid green;
  border-radius: 5px;
  text-align: left;
}
.events{
  height: 20%;
}
.challenge{
  height: 20%;
}
.activities{
  height: 25%;
}
.content-right{
  margin: 10% 5%;
}
.title{
  font-size: 18px;

}
.sub-div{
  background: #53a345;
  color: white;
}

.par{
  display: inline-block;
  padding:  1%;
}
.par2{
  padding-left: 5%;
}
.letter-color{
  color: #339510;
}
.left-desktop{
  display: none;
}

.between{
/*  border: 1px solid red;*/
  height: 100vh;
}
.between-left{

}
.between-right{

}
/*destock*/
  @media (min-width: 992px) {
.left-desktop{
  text-align: center;
  display: inline-block;
}
.right-movil{
  display: none;
}
.col{
  height: 100vh;
  width: 100%;
/*  border: 1px solid #b2c8ad;*/

}
.btn-left{
  font-size: 20%;
  margin: 10%;
}

.search{
  display: inline-block;
}
.right-desktop{
  text-align: center;
  display: inline-block;

}
.div-right {
  border: 1px solid green;
  border-radius: 5px;
  text-align: left;
}
.events{
  height: 20%;
}
.challenge{
  height: 20%;
}
.activities{
  height: 25%;
}
.content-right{
  margin: 10% 5%;
}
.title{
  font-size: 18px;

}
.sub-div{
  background: #53a345;
  color: white;
}

.par{
  display: inline-block;
  padding:  1%;
}
.par2{
  padding-left: 5%;
}
.letter-color{
  color: #339510;
}
}/*destock*/

/**/
.modal-fixed-footer{
  color: black;
}
.images{
  text-align: center;
}
.imgAm{
  width: 80%;
  border: 1px solid green;
  padding: 10px;
}
.quar{

  width:100%;
  text-align: center;
  padding: 10px;
}

/*publicacion*/
.hidden{
  visibility: hidden;
}

.publicacion{

  border: 1px solid green;
}
.box-text{
  border: 1px solid green;
  margin: 5px;
  border-radius: 5px;
 background:rgba(251, 251, 251, 0.82);
}
.imagesFB{
  border: 1px solid green;
  margin: 5px;
  border-radius: 5px;

}

.upload{
  width: 60px;

}
.icon-m{
  width: 50px;
  margin: 10px;
  padding-top: 10px;
  float: right;
}
.label-up{
  width: 100px;
  height: 80px;
  padding: 10px;
}
.between-cent{

}
.lista{
  width: 300px;

}

.inline-bet{
  display: inline-block;
}
