body {
  background-color: red;
}

#splash {
  /*background: #11998e;
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);*/
  background-color: white;
  background-size: cover;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.background {
  background-image: url('../assets/images/social.PNG');
}

.letter-box {
  width: 800px;
  margin-top: 50px;
}


.letter {
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 4px 4px black;
  font-size: 120px;
  position: absolute;
  z-index: 3;
}

.social-letter{
  color: #075;
}

.green-letter {
  right: 240px;
  bottom: 205px;
  color: #2a6;
}

.vertical-align {
   transform: translateY(150%);
 }

.image {
  height: 450px;
  width: 450px;
  z-index: 1;
  background-image: url('../assets/images/2.PNG');
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.eyes {
  width: 250px;
  position: absolute;
  bottom: 290px;
  right: 240px;
}

.hoja-img {
  width: 400px;
  position: absolute;
  top: 250px;
  right: 350px;
  -webkit-transform: rotate(35deg);
  z-index: 2;
}

.icons-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
