<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Green</title>
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/green.css">
  </head>
  <body>

      <div class="row">

       <div class="left-movil left-desktop s6 col l1">
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red" href="../views/perfil.html"><i class="material-icons">face</i></a>
         </div>
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
         </div>
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">chrome_reader_mode</i></a>
         </div>
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">import_contacts</i></a>
         </div>
       </div>
       <div class="right-movil s6">
         <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">search</i></a>
         <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a>

       </div>
       <div class="between col s12 l7">
         <nav class="search">
           <div class="nav-wrapper">
             <form >
               <div class="input-field green">
                 <input id="search" type="search" required>
                 <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                 <i class="material-icons">close</i>
<!---->       </div><!--input-field green-->
             </form>

             <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Publicar</a>

             <div id="modal3" class="modal modal-fixed-footer">
               <div class="modal-content">
                 <a href="#"><i class="material-icons">account_circle</i>Usuario</a>
                 <div class="box-right">
                   <textarea name="text" id="texto" class="text-area-height" placeholder="¿Qué estas pensando?" type="text" autofocus></textarea>

                 </div>
               </div>
               <div class="modal-footer">
                 <a id="btn-share-post" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green white-text"><i class="material-icons">reply</i>Share</a>
                <hr>
               </div>
             </div>
              <br>
              <div class="images">
                <div class="quar">
                  <img class="imgAm"src="http://www.yucatanalamano.com/wp-content/uploads/2017/05/MG_1328.jpg" alt="">

                </div>
                <div class="quar">
                  <img class="imgAm"src="https://www.expoknews.com/wp-content/uploads/2015/02/dia-del-arbol.jpg" alt="">

                </div>
                <div class="quar">
                  <img class="imgAm"src="https://i.pinimg.com/originals/da/84/7a/da847a7721794827708938a97a0b77c6.jpg" alt="">

                </div>
                <div class="quar">
                  <img class="imgAm" src="http://www.aprendizajeverde.net/sites/default/files/practicas/reforestemos-y-salvemos-nuestro-planeta-1.jpg" alt="">

                </div>
              </div>


           </div>
         </nav>

       </div>
       <div class="right-desktop s12 col l4">
         <div class="content-right">
           <div class="div-right events">
             <div class="sub-div">
              <p class="title">Eventos</p>
             </div>
             <div class="par par1">
              <p>Planta un arbol</p>
              <p>Limpia tu ciudad</p>
             </div>
             <div class="par par2">
              <p>15/01/18</p>
              <p>20/01/18</p>
             </div>
           </div><!--events -->
         </div>
         <div class="content-right">
           <div class="div-right challenge">
              <div class="sub-div">
                <p class="title">Retos</p>
              </div>
              <div class="par par1">
               <p><u class="letter-color">Susan</u> reciclará botellas plasticas</p>
               <p><u class="letter-color">Juán</u> plantará un arbol</p>
              </div>
              <div class="par par2">
               <p>09/01/18</p>
               <p>10/01/18</p>
              </div>
           </div><!--callenge-->
         </div>
         <div class="content-right">
           <div class="div-right activities">
            <div class="sub-div">
              <p class="title">Actividades</p>
            </div>
            <div class="par par1">
             <p><u class="letter-color">María</u> invitó a <u class="letter-color">Rócio</u> a cumplir un reto</p>
             <p><u class="letter-color">Rócio</u> acepto del reto de <u class="letter-color">María</u></p>
            </div>
            <div class="par par2">
             <p>09/01/18</p>
             <p>10/01/18</p>
            </div>
          </div><!--activities-->
         </div>
       </div><!--right -->



    <script src="../vendors/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../js/green.js"></script>
  </body>
</html>
