<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Green</title>
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/green.css">
  </head>
  <body>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC6dtzyktS5W3jC4XQTPZvpFkbFUgvyA6I",
        authDomain: "publicacion-96d60.firebaseapp.com",
        databaseURL: "https://publicacion-96d60.firebaseio.com",
        projectId: "publicacion-96d60",
        storageBucket: "publicacion-96d60.appspot.com",
        messagingSenderId: "464310935528"
      };
      firebase.initializeApp(config);
    </script>


      <div class="row">

       <div class="left-movil left-desktop s6 col l1">
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red" href="../views/perfil.html"><i class="material-icons">face</i></a>
         </div>
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
         </div>
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">chrome_reader_mode</i></a>
         </div>
         <div class="btn-movil">
           <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">import_contacts</i></a>
         </div>
       </div>

       <div class="right-movil s6">
         <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">search</i></a>
         <a class="btn-left btn-floating green btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a>

       </div>

       <div class="between col s12 l3">
         <div class="between-left inline-bet">

           <nav class="search">
             <div class="nav-wrapper">
               <form >
                  <div class="input-field green">
                   <input id="search" type="search" required>
                   <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                   <i class="material-icons">close</i>
                  </div><!--input-field green-->
               </form>
             </div>
           </nav>

           <div class="publicacion">


             <form id="form-convalidaciones">
               <div class="form-group">
                 <label for="modulo-a-convalidar">Share</label>
                 <textarea rows="8" cols="80"type="text" name="moduloAConvalidar" value="" id="modulo-a-convalidar"></textarea>
               </div>
               <input type="submit" name="" value="Share">
             </form>

             <div class="div-publicacion">
               <!-- publicacion texto-->
                     <div id="tbody-tabla-convalidaciones" class="">

                     </div>  <!--tbody-tabla-convalidaciones-->
             </div>



           </div>

         </div>


    </div>

         <div class="between-right col l5">

           <div class="between-cent">
             <form id="form-imagenes">
               <label class="btn transparent label-up" >
                 <input type="file" name="fichero" value="" id="fichero" hidden>
                 <img src="../assets/icon/upload.ico" alt="" class="upload">
               </label>
               <label for="">

               <a href="#"><img src="../assets/icon/folder.png" alt="" class="icon-m"></a>
               <a href="#"><img src="../assets/icon/Time-zones-icon.png" alt="" class="icon-m"></a>
               <a href="#"><img src="../assets/icon/network-checklist-icon.png" alt="" class="icon-m"></a>
               </label>
             </form>

             <div class="hidden" id="progreso">
               <div class="progress">
                 <div id="barra-de-progreso"class="indeterminate" style="width: 30%"></div>
               </div>
             </div>
              <hr>
             <!-- publicacion imagenes-->
                 <div id="imagenes-de-firebase">

                 </div>  <!-- imagenes-de-firebase-->
           </div>

         </div>



       <div class="l5">

       </div>

       <div class="right-desktop s12 col l3">
         <div class="div-right events">
           <div class="sub-div">
            <p class="title">Contactos</p>
           </div>
           <div class="event-up">
             <a href="#"><img class="lista"src="../assets/icon/lista.png" alt="" class="icon-m"></a>
           </div>
          </div>

         <div class="content-right">
           <div class="div-right events">
             <div class="sub-div">
              <p class="title">Eventos</p>
             </div>
             <div class="par par1">
              <p>Planta un arbol</p>
              <p>Limpia tu ciudad</p>
             </div>
             <div class="par par2">
              <p>15/01/18</p>
              <p>20/01/18</p>
             </div>
           </div><!--events -->
         </div>
         <div class="content-right">
           <div class="div-right challenge">
              <div class="sub-div">
                <p class="title">Retos</p>
              </div>
              <div class="par par1">
               <p><u class="letter-color">Susan</u> reciclará botellas plasticas</p>
               <p><u class="letter-color">Juán</u> plantará un arbol</p>
              </div>
              <div class="par par2">
               <p>09/01/18</p>
               <p>10/01/18</p>
              </div>
           </div><!--callenge-->
         </div>
         <div class="content-right">
           <div class="div-right activities">
            <div class="sub-div">
              <p class="title">Actividades</p>
            </div>
            <div class="par par1">
             <p><u class="letter-color">María</u> invitó a <u class="letter-color">Rócio</u> a cumplir un reto</p>
             <p><u class="letter-color">Rócio</u> acepto del reto de <u class="letter-color">María</u></p>
            </div>
            <div class="par par2">
             <p>09/01/18</p>
             <p>10/01/18</p>
            </div>
          </div><!--activities-->
         </div>
       </div><!--right -->


    <script src="../vendors/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/green.js"></script>
  </body>
</html>
