<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil Social Green</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Fira+Sans+Condensed" rel="stylesheet">
    <!--<link rel="stylesheet" href="vendors/css/flexboxgrid.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/perfil.css">
  </head>
  <body class="">
    <header>
      <nav>
        <div class="nav-wrapper teal darken-3">
          <a href="../views/green.html" class="brand-logo">
            <img src="../assets/images/logo-nuevo.png" alt="Logo" class="logo-nav">
            <span class="social-white-letter">Social Green</span>
            <div class="center col s10">
              <a href="#" class="social-green-letter">Social Green</a>
            </div>
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons material-search">search</i></label>
            </li>
            <li><a href="#"><strong>Amigos</strong></a></li>
            <li><a href="#"><strong>Notas</strong></a></li>
            <li><a href="#"><strong>Actividades</strong></a></li>
            <li><a href="#"><strong>Mensajes</strong></a></li>
            <li><a href="../index.html"><i class="material-icons">close</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <input id="search" type="search" required class="right search-position-movile">
              <label class="label-icon" for="search"><i class="material-icons material-search">search</i></label>
            </li>
            <li><a href="#">Amigos</a></li>
            <li><a href="#">Notas</a></li>
            <li><a href="#">Actividades</a></li>
            <li><a href="#">Mensajes</a></li>
            <li><a href="#"><i class="material-icons">close</i>Cerrar Sesion</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="row">
        <div class="col s3 usuario">
          <figure>
            <img src="../assets/images/usuario.png" alt="" class="responsive-img photo-user">

          </figure>
          <div class="center">
            <h5><strong>Name and last name</strong></h5>
            <h6><strong>"Favorite phrase"</strong></h6>
            <h6><strong>Telefone number</strong></h6>
          </div>
          <div class="center info-user">
            <a href="#" class="col"><i class="material-icons green-text">create</i><p class="green-text"><strong>400<br>POST</strong></p></a>
            <a href="#" class="col"><i class="material-icons green-text">face</i><p class="green-text"><strong>100<br>FRIENDS</strong></p></a>
            <a href="#" class="col"><i class="material-icons green-text">favorite</i><p class="green-text"><strong>250<br>LIKES</strong></p></a>
          </div>
          <div class="center">
            <a class="waves-effect waves-light btn green"><i class="material-icons">create</i>CORRECT</a>

          </div>
        </div>
        <div class="col s9">
          <!--Botones para postear-->
            <div class="box-btn col offset-s4 grey lighten-3">
              <div class="">
                <a class="btn-floating btn-large waves-effect waves-light  btn modal-trigger green" href="#modal3"><i class="material-icons">text_fields</i></a>
                <a class="btn-floating btn-large waves-effect waves-light btn modal-trigger blue" data-target="modal5" href="#modal5"><i class="material-icons">camera_alt</i></a>
                <a class="btn-floating btn-large waves-effect waves-light  btn modal-trigger red" href="#modal4"><i class="material-icons">favorite</i></a>
                <a class="btn-floating btn-large waves-effect waves-light orange" href="../views/green.html"><i class="material-icons">chrome_reader_mode</i></a>

              </div>
              <div class="">
                <a href="#" class="black-text"><span class="btn-letters"><strong>Text</strong></span></a>
                <a href="#" class="black-text"><span class="btn-letters"><strong>Photo</strong></span></a>
                <a href="#" class="black-text"><span class="btn-letters"><strong>Like</strong></span></a>
                <a href="#" class="black-text"><span class="btn-letters"><strong>Notice</strong></span></a>
              </div>
            </div>
            <div id="show-post" class="show-post col s12">
              <div class="post1 styleBox">
                <div class="title">
                  <h5 class="center-align">tips</h5>
                </div>
                  <img src="../assets/images/logo2.png" alt="" class="post-img">
                  <div class="styleLetter">
                    <p>1.-No usar aerosoles</p>
                    <p>2.-No quemar basura</p>
                    <p>3.-No pedir cañitas en las bebidas</p>
                    <p>4.-Evitar el consumo de agua enbotellada en plastico</p>
                    <p>5.-No usar bolsas plasticas</p>
                  </div>
                <div class="iconos-post">
                  <div class="col s5">
                    <p>7:00 PM</p>
                  </div>
                  <div class="col s7">
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_up</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_down</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">mode_comment</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">reply</i></a>
                  </div>
                </div>
              </div>
              <div class="styleBox">
                <img src="../assets/images/eco-tips.jpg" alt="" class="post-img">
                <div class="iconos-post">
                  <div class="col s5">
                    <p>11:00 PM</p>
                  </div>
                  <div class="col s7">
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_up</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_down</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">mode_comment</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">reply</i></a>
                  </div>
                </div>
              </div>
              <div class="styleBox">
                <div class="title">
                  <h5 class="center-align">tips</h5>
                </div>
                  <div class="styleLetter">
                    <p>Cuidemos nuestro planeta</p>
                  </div>
                <div class="iconos-post">
                  <div class="col s5">
                    <p>6:00 AM</p>
                  </div>
                  <div class="col s7">
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_up</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_down</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">mode_comment</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">reply</i></a>
                  </div>
                </div>
              </div>
              <div class="styleBox">
                <img src="../assets/images/recycle.png" alt="" class="post-img">
                <div class="iconos-post">
                  <div class="col s5">
                    <p>1:00 PM</p>
                  </div>
                  <div class="col s7">
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_up</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">thumb_down</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">mode_comment</i></a>
                    <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">reply</i></a>
                  </div>
                </div>
              </div>
            </div>

      </div>
      </div>
    </section>
    <!--__________________Modales del post____________________-->
    <!--Agregando texto-->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <a href="#"><i class="material-icons">account_circle</i>Usuario</a>
        <div class="row">
          <div class="col offset-l4 post-header">
            <input type="text" name="" value="" placeholder="Title" class="title">
          </div>
        </div>
          <textarea name="text" id="texto" class="text-area-height" placeholder="¿Qué estas pensando?" type="text" autofocus></textarea>
          <hr>
          <div class="right">
            <a id="btn-share-post" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green white-text" disabled><i class="material-icons">public</i>Share</a>
          </div>
        </div>
      </div>
    </div>

    <!--__________________Modales Like____________________-->
    <!--Agregando texto-->
    <div id="modal4" class="modal">
      <div class="modal-content modal-photo">
          <div class="center">
            <h5>Pages that may interest you</h5>
          </div>
            <div class="box-right ">
              <div class="likeBox center light-green lighten-3 row">
                <img src="../assets/images/like1.jpg" alt="" class="likes-img">
                <div class="col s9">
                  <p><strong>GreenPeace</strong></p>
                </div>
                <div class="col s2">
                  <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">favorite</i></a>
                </div>

              </div>

              <div class="likeBox center light-green lighten-3 row">
                <img src="../assets/images/like2.jpg" alt="" class="likes-img">
                <div class="col s9">
                  <p><strong>National Geographic</strong></p>
                </div>
                <div class="col s2">
                  <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">favorite</i></a>
                </div>

              </div>

              <div class="likeBox center light-green lighten-3 row">
                <img src="../assets/images/like3.jpg" alt="" class="likes-img">
                <div class="col s9">
                  <p><strong>Ow! Green</strong></p>
                </div>
                <div class="col s2">
                  <a href="#" class="btn-likes"><i class="material-icons btn-likes grey-text">favorite</i></a>
                </div>

              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--__________________Modales del photo____________________-->
    <!--Agregando texto-->
    <div id="modal5" class="modal">
      <div class="modal-content modal-photo">
        <div class="center">
          <h6>Elige la imagen que deseas publicar</h6>
        </div>
        <form action="#">
          <div class="file-field input-field">
            <div class="btn light-green accent-3">
              <i class="material-icons">linked_camera</i>
              <input id="file-select" type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Change your photo">
            </div>
          </div>
        </form>
        <figure class="center">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" alt="" id="img-guardar" class="responsive-img post-img">
        </figure>
        <div class="right col s3">
          <a id="btn-share-photo" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green white-text"><i class="material-icons">file_upload</i>Public</a>
        </div>
        </div>
      </div>
    </div>
    <script src="../vendors/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../js/perfil.js"></script>
  </body>
</html>
